@tailwind base;
@tailwind components;
@tailwind utilities;

/* Wallet adapter styles */
.wallet-adapter-button {
  background-color: transparent;
  border: none;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-family: 'DM Sans', 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  line-height: 1;
  padding: 0 24px;
  border-radius: 6px;
}

.wallet-adapter-button-trigger {
  background-color: #512da8;
}

.wallet-adapter-button:not([disabled]):focus-visible {
  outline-color: white;
}

.wallet-adapter-button:not([disabled]):hover {
  background-color: #1a1f2e;
}

.wallet-adapter-button[disabled] {
  background: #404144;
  color: #999;
  cursor: not-allowed;
}

.wallet-adapter-modal-list {
  margin: 0 0 12px;
  padding: 0;
  width: 100%;
  list-style: none;
}

.wallet-adapter-modal-list-item {
  background-color: transparent;
  border: none;
  padding: 0;
  width: 100%;
}

.wallet-adapter-modal-list-button {
  cursor: pointer;
  align-items: center;
  border: none;
  display: flex;
  flex-direction: row;
  margin: 0 0 8px;
  padding: 12px;
  width: 100%;
  font-size: 14px;
  font-weight: 400;
  background-color: #2c2d30;
  border-radius: 8px;
}

.wallet-adapter-modal-list-button:hover {
  background-color: #1a1f2e;
}

.wallet-adapter-modal-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  margin: 0;
  padding: 64px 48px 48px;
  text-align: center;
}
